@font-face{
	font-family:"Mark W01 Bold Italic";
	src:url("/assets/fonts/Mark/5423392/b0ab161f-4dc8-412e-8b6d-89a98e04c3e1.eot?#iefix");
	src:url("/assets/fonts/Mark/5423392/b0ab161f-4dc8-412e-8b6d-89a98e04c3e1.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423392/6e8e8927-5a98-49ae-9123-db1798ec6d92.woff2") format("woff2"),url("/assets/fonts/Mark/5423392/dbe0788d-533f-4e84-b346-1f68c19853f9.woff") format("woff"),url("/assets/fonts/Mark/5423392/8aac5d38-8e50-4940-8cd1-ac406f070279.ttf") format("truetype");
}

@font-face{
	font-family:"Mark W01 Bold";
	src:url("/assets/fonts/Mark/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix");
	src:url("/assets/fonts/Mark/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423411/41c8162d-c2a6-49b0-8139-8bebab187588.woff2") format("woff2"),url("/assets/fonts/Mark/5423411/4fe94f2e-7892-4785-9663-0350a7adf8c0.woff") format("woff"),url("/assets/fonts/Mark/5423411/3a7daddb-0a78-4734-a699-6fe08d0e8b99.ttf") format("truetype");
}

@font-face{
	font-family:"Mark W01 Medium";
	src:url("/assets/fonts/Mark/5423451/36390511-9c88-42f2-890f-1ae4b1e7dd70.eot?#iefix");
	src:url("/assets/fonts/Mark/5423451/36390511-9c88-42f2-890f-1ae4b1e7dd70.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423451/72d3aeb4-7402-40d6-a945-34360316b980.woff2") format("woff2"),url("/assets/fonts/Mark/5423451/f17f16a9-09cc-4170-a039-5f47a4948438.woff") format("woff"),url("/assets/fonts/Mark/5423451/340db581-50b2-4783-8f40-db42ea764bda.ttf") format("truetype");
}

@font-face{
	font-family:"Mark W01 Book";
	src:url("/assets/fonts/Mark/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix");
	src:url("/assets/fonts/Mark/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423523/e6beefbb-4014-4efa-961b-7762af9aefef.woff2") format("woff2"),url("/assets/fonts/Mark/5423523/5b4bd9d6-75be-4d76-8292-7f6434b9e997.woff") format("woff"),url("/assets/fonts/Mark/5423523/d049afa3-baf5-4612-abf2-852763051b9c.ttf") format("truetype");
}

@font-face{
	font-family:"Mark W01 Light Italic";
	src:url("/assets/fonts/Mark/5423542/6b7037f4-1d79-4c1d-98ac-88582ff8a377.eot?#iefix");
	src:url("/assets/fonts/Mark/5423542/6b7037f4-1d79-4c1d-98ac-88582ff8a377.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423542/63fdd036-2f81-483e-9ca9-d774353563af.woff2") format("woff2"),url("/assets/fonts/Mark/5423542/31c5860c-aba6-4531-ade5-1cf6f23ac71b.woff") format("woff"),url("/assets/fonts/Mark/5423542/368a1e82-428e-4a89-b49b-9475bfce6041.ttf") format("truetype");
}

@font-face{
	font-family:"Mark W01 Light";
	src:url("/assets/fonts/Mark/5423562/a8abc20c-6ce3-48be-b25e-41ae3c6e0379.eot?#iefix");
	src:url("/assets/fonts/Mark/5423562/a8abc20c-6ce3-48be-b25e-41ae3c6e0379.eot?#iefix") format("eot"),url("/assets/fonts/Mark/5423562/3d82d7a7-de70-4f67-85f4-78342de5fedb.woff2") format("woff2"),url("/assets/fonts/Mark/5423562/23acf083-b36e-4baf-aabc-4935a5c4bdce.woff") format("woff"),url("/assets/fonts/Mark/5423562/caf2b644-efc2-495e-af03-3b385d7de014.ttf") format("truetype");
}
